In [1]:
# Dependencies
import pandas as pd
import numpy as np

In [2]:
# Read into csv file
schools_csv_file = "./Resources/dv279-schoollocations2019.csv"
schools_df = pd.read_csv(schools_csv_file)
schools_df.head()

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,School_Status,Address_Line_1,Address_Line_2,Address_Town,Address_State,...,Postal_Address_Line_1,Postal_Address_Line_2,Postal_Town,Postal_State,Postal_Postcode,Full_Phone_No,LGA_ID,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,O,21 Thomson Street,NaN,Alberton,VIC,...,21 Thomson Street,NaN,ALBERTON,VIC,3971,03 5183 2412,681,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,O,Frank Street,NaN,Allansford,VIC,...,Frank Street,NaN,ALLANSFORD,VIC,3277,03 5565 1382,673,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,O,118 Barnett Street,NaN,Avoca,VIC,...,P O Box 12,NaN,AVOCA,VIC,3467,03 5465 3176,599,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,O,40 Anderson Street,NaN,Avenel,VIC,...,40 Anderson Street,NaN,AVENEL,VIC,3664,03 5796 2264,643,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,O,5-11 Forbes Street,NaN,Warrandyte,VIC,...,5-11 Forbes Street,NaN,WARRANDYTE,VIC,3113,03 9844 3537,421,Manningham (C),145.213980,-37.742675

In [3]:
# Ensuring all schools are in VIC
schools_df["Postal_State"].unique()

array(['VIC'], dtype=object)

In [4]:
# Drop unwanted columns
to_drop = ["School_Status",
          "Address_Line_1",
          "Address_Line_2",
          "Address_Town",
          "Address_State",
          "Postal_Address_Line_2",
          "Full_Phone_No",
          "Address_Postcode",
          "Postal_State",
          "LGA_ID"]

schools_df.drop(columns=to_drop, inplace=True)

In [5]:
schools_df.head()

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,Postal_Address_Line_1,Postal_Town,Postal_Postcode,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,21 Thomson Street,ALBERTON,3971,Wellington (S),146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,Frank Street,ALLANSFORD,3277,Warrnambool (C),142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,P O Box 12,AVOCA,3467,Pyrenees (S),143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,40 Anderson Street,AVENEL,3664,Strathbogie (S),145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,5-11 Forbes Street,WARRANDYTE,3113,Manningham (C),145.213980,-37.742675

In [6]:
# Split LGA Name
schools_df["LGA_Name"] = schools_df.LGA_Name.apply(lambda x: pd.Series(str(x).split(" ")))

In [7]:
# Capitalise and lower postal town names
schools_df["Postal_Town"] = schools_df.Postal_Town.apply(lambda x: pd.Series(str(x).lower().capitalize()))

In [8]:
schools_df.head()

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,Postal_Address_Line_1,Postal_Town,Postal_Postcode,LGA_Name,X,Y
0,Government,1,1,Alberton Primary School,Primary,21 Thomson Street,Alberton,3971,Wellington,146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,Frank Street,Allansford,3277,Warrnambool,142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,P O Box 12,Avoca,3467,Pyrenees,143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,40 Anderson Street,Avenel,3664,Strathbogie,145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,5-11 Forbes Street,Warrandyte,3113,Manningham,145.213980,-37.742675

In [9]:
# Rename postcode column
schools_df = schools_df.rename(columns={"Postal_Postcode": "Postcode",
                                       "Postal_Town": "Suburb",
                                       "X": "Lat",
                                       "Y": "Lng"})
schools_df

,Education_Sector,Entity_Type,School_No,School_Name,School_Type,Postal_Address_Line_1,Suburb,Postcode,LGA_Name,Lat,Lng
0,Government,1,1,Alberton Primary School,Primary,21 Thomson Street,Alberton,3971,Wellington,146.666601,-38.617713
1,Government,1,3,Allansford and District Primary School,Primary,Frank Street,Allansford,3277,Warrnambool,142.590393,-38.386281
2,Government,1,4,Avoca Primary School,Primary,P O Box 12,Avoca,3467,Pyrenees,143.475649,-37.084502
3,Government,1,8,Avenel Primary School,Primary,40 Anderson Street,Avenel,3664,Strathbogie,145.234722,-36.901368
4,Government,1,12,Warrandyte Primary School,Primary,5-11 Forbes Street,Warrandyte,3113,Manningham,145.213980,-37.742675
...,...,...,...,...,...,...,...,...,...,...,...
2249,Catholic,2,2222,Our Lady Star of the Sea Catholic Primary School,Primary,6 Cowes-Rhyll Road,Cowes,3922,Bass,145.239805,-38.463698
2250,Independent,2,2223,Maxwell Creative School,Primary,6 Rainy Hill Road,Cockatoo,3781,Cardinia,145.518028,-37.923946
2251,Catholic,2,2224,St Anne's College,Pri/Sec,72 Wendouree Drive,Kialla,3631,Greater,145.400337,-36.436121
2252,Catholic,2,2225,Holy Trinity Catholic Primary School,Primary,145 Mitchells Lane,Sunbury,3429,Hume,144.705316,-37.584791
2253,Catholic,2,2226,Glowrey Catholic Primary School,Primary,10 Baltrum Drive,Wollert,3750,Whittlesea,145.031776,-37.615822

In [10]:
# Drop any null values
schools_df = schools_df.dropna()
schools_df.count()

Education_Sector         2254
Entity_Type              2254
School_No                2254
School_Name              2254
School_Type              2254
Postal_Address_Line_1    2254
Suburb                   2254
Postcode                 2254
LGA_Name                 2254
Lat                      2254
Lng                      2254
dtype: int64

In [11]:
# Retrieve postcode and suburbs
postcode_suburb_df = schools_df[["Postcode", "Suburb"]]
postcode_suburb_df = postcode_suburb_df.drop_duplicates()

# Export into a csv file
postcode_suburb_df.to_csv("./output/postcode_suburb_df.csv", index=False)

In [12]:
# Read into created csv
postcode_suburb = pd.read_csv("./output/postcode_suburb_df.csv")
postcode_suburb

     Postcode           Suburb
0        3971         Alberton
1        3277       Allansford
2        3467            Avoca
3        3664           Avenel
4        3113       Warrandyte
..        ...              ...
953      3954        Koonwarra
954      3076     Epping north
955      3030   Werribee plaza
956      3029  Truganina south
957      3939     Rosebud west

[958 rows x 2 columns]

In [13]:
postcode_suburb.loc[postcode_suburb["Suburb"] == "Melbourne"]

     Postcode     Suburb
827      3004  Melbourne
943      3000  Melbourne

In [14]:
# Groupby suburbs
grouped_schools_df = schools_df.groupby(["Suburb"])

# Find number of schools in each suburb
schools_count = grouped_schools_df["School_Name"].count()
schools_count

# Create a new df with school count
schools_count_df = schools_count.reset_index()
schools_count_df

# Rename column
schools_count_df = schools_count_df.rename(columns={"School_Name": "School Count"})
schools_count_df

           Suburb  School Count
0      Abbotsford             3
1      Aberfeldie             2
2    Aireys inlet             1
3           Airly             1
4    Airport west             1
..            ...           ...
932    Yarrawonga             3
933           Yea             3
934        Yinnar             1
935  Yinnar south             1
936       Zeerust             1

[937 rows x 2 columns]

In [15]:
# Sort school count
schools_count_df.sort_values("School Count", ascending=False)

             Suburb  School Count
883        Werribee            20
781         Sunbury            14
741      Shepparton            14
333   Glen waverley            13
209     Craigieburn            13
..              ...           ...
166       Cavendish             1
518      Marysville             1
519        Mckinnon             1
520  Meadow heights             1
936         Zeerust             1

[937 rows x 2 columns]