In [1]:
# Import dependancies

import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st

In [2]:
# Set the path for the property sales data and read the CSV into a dataframe
path = "Resources/aus-property-sales-sep2018-april2020.csv"

sales_df = pd.read_csv(path)
sales_df.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-18 00:00:00,NaN,Darling Point,Sydney,NSW,-33.869565,151.241317,3,unit,NSW1221,NSW180
1,2018-09-24 00:00:00,NaN,Darling Point,Sydney,NSW,-33.872179,151.239726,3,unit,NSW1221,NSW180
2,2018-09-26 00:00:00,1730000.0,Darling Point,Sydney,NSW,-33.868386,151.237471,2,unit,NSW1221,NSW180
3,2018-09-26 00:00:00,1928000.0,Darling Point,Sydney,NSW,-33.875465,151.236280,3,unit,NSW1221,NSW180
4,2018-10-02 00:00:00,1475000.0,Darling Point,Sydney,NSW,-33.875734,151.233575,3,unit,NSW1221,NSW180

In [3]:
# Filter the dataframe to only contain results in Victoria
victorian_sales_df = sales_df.loc[sales_df["state"] == "VIC", :].reset_index(drop=True)
victorian_sales_df.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-04 00:00:00,337500.0,Healesville,Melbourne,VIC,-37.661765,145.510034,1,unit,VIC1150,VIC129
1,2018-09-05 00:00:00,370000.0,Healesville,Melbourne,VIC,-37.648961,145.522798,2,unit,VIC1150,VIC129
2,2018-11-02 00:00:00,320000.0,Healesville,Melbourne,VIC,-37.663509,145.509362,2,unit,VIC1150,VIC129
3,2018-11-02 00:00:00,385000.0,Healesville,Melbourne,VIC,-37.637402,145.497330,2,unit,VIC1150,VIC129
4,2018-11-03 00:00:00,440000.0,Healesville,Melbourne,VIC,-37.662562,145.509064,3,unit,VIC1150,VIC129

In [4]:
# Look through the data to see if there are any missing values
victorian_sales_df.count()

date_sold        119180
price             98550
suburb           119180
city_name        119180
state            119180
lat              119163
lon              119163
bedrooms         119180
property_type    119180
loc_pid          119180
lga_pid          119180
dtype: int64

In [5]:
# Drop any rows that are incomplete
# The missing values are price, this is the most important variable for our analysis so it's safe to drop those rows
victorian_sales_df.dropna(how = "any", inplace = True)

In [6]:
# Check that the rows have been dropped successfully
# There is still plenty of remaining data for the analysis
victorian_sales_df.count()

date_sold        98535
price            98535
suburb           98535
city_name        98535
state            98535
lat              98535
lon              98535
bedrooms         98535
property_type    98535
loc_pid          98535
lga_pid          98535
dtype: int64

In [7]:
# Remove the time component of the date_sold column, leaving only the date of the transaction
victorian_sales_df["date_sold"] = victorian_sales_df["date_sold"].str[0:10]
victorian_sales_df.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid
0,2018-09-04,337500.0,Healesville,Melbourne,VIC,-37.661765,145.510034,1,unit,VIC1150,VIC129
1,2018-09-05,370000.0,Healesville,Melbourne,VIC,-37.648961,145.522798,2,unit,VIC1150,VIC129
2,2018-11-02,320000.0,Healesville,Melbourne,VIC,-37.663509,145.509362,2,unit,VIC1150,VIC129
3,2018-11-02,385000.0,Healesville,Melbourne,VIC,-37.637402,145.497330,2,unit,VIC1150,VIC129
4,2018-11-03,440000.0,Healesville,Melbourne,VIC,-37.662562,145.509064,3,unit,VIC1150,VIC129

In [8]:
# Set the path for a CSV created to match postcodes and suburbs and read into a dataframe
path = "output/postcode_suburb_df.csv"

postcode_df = pd.read_csv(path)
postcode_df.rename(columns = {"Suburb": "suburb"}, inplace=True)
postcode_df.head()

   Postcode      suburb
0      3971    Alberton
1      3277  Allansford
2      3467       Avoca
3      3664      Avenel
4      3113  Warrandyte

In [9]:
# Merge the postcode into the main dataframe
clean_vic_sales_df = pd.merge(victorian_sales_df, postcode_df, how = "left", on = "suburb")
clean_vic_sales_df.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid,Postcode
0,2018-09-04,337500.0,Healesville,Melbourne,VIC,-37.661765,145.510034,1,unit,VIC1150,VIC129,3777.0
1,2018-09-05,370000.0,Healesville,Melbourne,VIC,-37.648961,145.522798,2,unit,VIC1150,VIC129,3777.0
2,2018-11-02,320000.0,Healesville,Melbourne,VIC,-37.663509,145.509362,2,unit,VIC1150,VIC129,3777.0
3,2018-11-02,385000.0,Healesville,Melbourne,VIC,-37.637402,145.497330,2,unit,VIC1150,VIC129,3777.0
4,2018-11-03,440000.0,Healesville,Melbourne,VIC,-37.662562,145.509064,3,unit,VIC1150,VIC129,3777.0

In [10]:
# Look through the data to see if there are any missing values
clean_vic_sales_df.count()

date_sold        99955
price            99955
suburb           99955
city_name        99955
state            99955
lat              99955
lon              99955
bedrooms         99955
property_type    99955
loc_pid          99955
lga_pid          99955
Postcode         58461
dtype: int64

In [11]:
# Drop any rows that are incomplete
# Since we need the postcode for our analysis, we have to drops these rows
clean_vic_sales_df.dropna(how = "any", inplace = True)

In [12]:
# Check that the rows have been dropped successfully
clean_vic_sales_df.count()

date_sold        58461
price            58461
suburb           58461
city_name        58461
state            58461
lat              58461
lon              58461
bedrooms         58461
property_type    58461
loc_pid          58461
lga_pid          58461
Postcode         58461
dtype: int64

In [13]:
# Preview the dataframe
clean_vic_sales_df.head()

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid,Postcode
0,2018-09-04,337500.0,Healesville,Melbourne,VIC,-37.661765,145.510034,1,unit,VIC1150,VIC129,3777.0
1,2018-09-05,370000.0,Healesville,Melbourne,VIC,-37.648961,145.522798,2,unit,VIC1150,VIC129,3777.0
2,2018-11-02,320000.0,Healesville,Melbourne,VIC,-37.663509,145.509362,2,unit,VIC1150,VIC129,3777.0
3,2018-11-02,385000.0,Healesville,Melbourne,VIC,-37.637402,145.497330,2,unit,VIC1150,VIC129,3777.0
4,2018-11-03,440000.0,Healesville,Melbourne,VIC,-37.662562,145.509064,3,unit,VIC1150,VIC129,3777.0

In [14]:
# Sorting the dataframe by date, and resetting the index
clean_vic_sales_df = clean_vic_sales_df.sort_values(by = "date_sold", ascending = True).reset_index(drop = True)

In [15]:
# Finding the first row after February 2020
clean_vic_sales_df.loc[clean_vic_sales_df["date_sold"] == "2020-02-01", :].head(1)

,date_sold,price,suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid,Postcode
45706,2020-02-01,780000.0,Rowville,Melbourne,VIC,-37.935166,145.246339,3,house,VIC2209,VIC128,3178.0

In [16]:
# Splitting the dataframe into pre-COVID (before Feb 2020) and creating a CSV
vic_sales_precovid_df = clean_vic_sales_df[0:45705]
vic_sales_precovid_df.to_csv("MT_resources/vic-sales-precovid.csv")

In [17]:
# Splitting the dataframe into post-COVID (after Feb 2020) and creating a CSV
vic_sales_postcovid_df = clean_vic_sales_df[45706:]
vic_sales_postcovid_df.to_csv("MT_resources/vic-sales-postcovid.csv")