In [11]:
# Dependencies
import pandas as pd

# Save path to data set in a variable
data_file = "Resources/covid_data.xlsx"
# Use Pandas to read data
df = pd.read_excel(data_file)
df.head()

  Local Government Area Cases     Date
0           STONNINGTON    84  4042020
1               BANYULE    64  4042020
2            BOROONDARA    56  4042020
3       GREATER GEELONG    54  4042020
4  MORNINGTON PENINSULA    52  4042020