In [1]:
#Dependencies
import pandas as pd
# Save path to data set in a variable
data_file = "Resources/Hospital_Locations.csv"
# Use Pandas to read data
df = pd.read_csv(data_file)
df.head()

,X,Y,FID,LabelName,OpsName,Type,StreetNum,RoadName,RoadType,RoadSuffix,CampusCode,LGAName,LocalityNa,Postcode,VicgovRegi,State,ServiceNam
0,144.983399,-37.809681,1,East Melbourne Specialist Day Hospital,EAST MELBOURNE DAY HOSPITAL,PRIVATE,23,CLARENDON,STREET,,8280,MELBOURNE,,3002,NWMR,VIC,
1,145.149300,-37.951400,2,Windsor Avenue Day Surgery,WINDSOR AVENUE DAY SURGERY,PRIVATE,17,WINDSOR,AVENUE,,7050,GREATER DANDENONG,,3171,SMR,VIC,
2,145.344653,-38.034580,3,Hyperbaric Health Wound Centre Berwick,HYPERBARIC HEALTH - BERWICK,PRIVATE,3,GIBB,STREET,,7100,CASEY,,3806,SMR,VIC,
3,143.832286,-37.540553,4,Ballarat Day Procedure Centre,BALLARAT DAY PROCEDURE CENTRE,PRIVATE,1117-1123,HOWITT,STREET,,8430,BALLARAT,,3355,Gram,VIC,
4,145.143379,-38.148189,5,Bayside Day Procedure and Specialist Centre,BAYSIDE DAY PROCEDURE CENTRE,PRIVATE,141,CRANBOURNE,ROAD,,7310,FRANKSTON,,3199,SMR,VIC,

In [2]:
df.drop(["RoadSuffix", "CampusCode", "LocalityNa", "ServiceNam", "OpsName", "FID", "VicgovRegi", "LGAName"], axis=1, inplace=True)
df.head()

,X,Y,LabelName,Type,StreetNum,RoadName,RoadType,Postcode,State
0,144.983399,-37.809681,East Melbourne Specialist Day Hospital,PRIVATE,23,CLARENDON,STREET,3002,VIC
1,145.149300,-37.951400,Windsor Avenue Day Surgery,PRIVATE,17,WINDSOR,AVENUE,3171,VIC
2,145.344653,-38.034580,Hyperbaric Health Wound Centre Berwick,PRIVATE,3,GIBB,STREET,3806,VIC
3,143.832286,-37.540553,Ballarat Day Procedure Centre,PRIVATE,1117-1123,HOWITT,STREET,3355,VIC
4,145.143379,-38.148189,Bayside Day Procedure and Specialist Centre,PRIVATE,141,CRANBOURNE,ROAD,3199,VIC

In [7]:
# Save path to data set in a variable
data_file_2 = "Resources/suburb_postcode_df.csv"
# Use Pandas to read data
postcode_df = pd.read_csv(data_file_2)
postcode_df = postcode_df.rename(columns={"Postal_Town":"Suburb"})

In [8]:
# Read into created csv
suburb_lga = pd.read_csv("./output/suburb_lga_df.csv")
suburb_lga.head()

       Suburb     LGA_Name
0    Alberton   Wellington
1  Allansford  Warrnambool
2       Avoca     Pyrenees
3      Avenel  Strathbogie
4  Warrandyte   Manningham

In [10]:
# Merge Postcode with Local Goverment Area df using the same Suburb column
postcode_lga = pd.merge(postcode_df, suburb_lga, how="inner", on="Suburb")
postcode_lga.head()

   Postcode                Suburb    LGA_Name
0      3340         Bacchus Marsh   Moorabool
1      3806               Berwick       Casey
2      3108  Westfield, Doncaster  Manningham
3      3747            Beechworth      Indigo
4      3461               Yandoit     Hepburn

In [14]:
# Merge the Hospital df with the area info using Postcode
hospital_df = pd.merge(df, postcode_lga, on="Postcode")
hospital_df.head()

,X,Y,LabelName,Type,StreetNum,RoadName,RoadType,Postcode,State,Suburb,LGA_Name
0,145.149300,-37.951400,Windsor Avenue Day Surgery,PRIVATE,17,WINDSOR,AVENUE,3171,VIC,Springvale,Greater
1,145.149600,-37.949500,Springvale Endoscopy Centre and Day Hospital,PRIVATE,20,BALMORAL,AVENUE,3171,VIC,Springvale,Greater
2,145.344653,-38.034580,Hyperbaric Health Wound Centre Berwick,PRIVATE,3,GIBB,STREET,3806,VIC,Berwick,Casey
3,145.346519,-38.033496,Berwick Surgicentre,PRIVATE,22,LANGMORE,LANE,3806,VIC,Berwick,Casey
4,145.345288,-38.045279,Casey Radiation Oncology Centre,PRIVATE,2/55,KANGAN,DRIVE,3806,VIC,Berwick,Casey

In [15]:
# Rename columns of hospital df
hospital_df = hospital_df.rename(columns={"X":"Latitude", 
                                          "Y":"Longitude", 
                                          "LabelName": "Hospital Name",
                                          "Type": "Hospital Type",
                                          "StreetNum": "Street Number",
                                          "RoadName": "Road Name",
                                          "RoadType": "Road Type",
                                          "LGAName": "Local Government Area",
                                            "LGA_Name": "LGA Name"
                                         })
hospital_df.head()

,Latitude,Longitude,Hospital Name,Hospital Type,Street Number,Road Name,Road Type,Postcode,State,Suburb,LGA Name
0,145.149300,-37.951400,Windsor Avenue Day Surgery,PRIVATE,17,WINDSOR,AVENUE,3171,VIC,Springvale,Greater
1,145.149600,-37.949500,Springvale Endoscopy Centre and Day Hospital,PRIVATE,20,BALMORAL,AVENUE,3171,VIC,Springvale,Greater
2,145.344653,-38.034580,Hyperbaric Health Wound Centre Berwick,PRIVATE,3,GIBB,STREET,3806,VIC,Berwick,Casey
3,145.346519,-38.033496,Berwick Surgicentre,PRIVATE,22,LANGMORE,LANE,3806,VIC,Berwick,Casey
4,145.345288,-38.045279,Casey Radiation Oncology Centre,PRIVATE,2/55,KANGAN,DRIVE,3806,VIC,Berwick,Casey

In [16]:
# Grouby Local Government Area
grouped_hospital = hospital_df.groupby('LGA Name')

# Find number of hospital in each LGA
hospital_count = grouped_hospital["Hospital Name"].count()

# Create a new df with hospital count
hospital_count = hospital_count.reset_index()
hospital_count

# Rename column
hospital_count = hospital_count.rename(columns={"Hospital Name": "Hospital Count per LGA"})
hospital_count.head()

   LGA Name  Hospital Count per LGA
0    Ararat                       1
1  Ballarat                       9
2   Banyule                       2
3      Bass                       1
4   Bayside                       2

In [18]:
# Import pre-covid housing data
pre_covid_sales_file = "./MT_resources/vic-sales-precovid.csv"
pre_covid_sales = pd.read_csv(pre_covid_sales_file)

,Unnamed: 0,date_sold,price,Suburb,city_name,state,lat,lon,bedrooms,property_type,loc_pid,lga_pid,Postcode
0,0,2018-09-02,1123000.0,Elsternwick,Melbourne,VIC,-37.880265,145.002303,3,townhouse,VIC857,VIC89,3185.0
1,1,2018-09-02,460000.0,Rosebud,Melbourne,VIC,-38.389428,144.924085,3,house,VIC2199,VIC125,3939.0
2,2,2018-09-02,450000.0,Cheltenham,Melbourne,VIC,-37.964607,145.053552,2,unit,VIC537,VIC98,3192.0
3,3,2018-09-02,575000.0,Keysborough,Melbourne,VIC,-38.004906,145.165695,2,townhouse,VIC1334,VIC91,3173.0
4,4,2018-09-02,620000.0,Pakenham,Melbourne,VIC,-38.058174,145.454603,4,house,VIC2023,VIC161,3810.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
45700,45700,2020-01-31,626500.0,Wollert,Melbourne,VIC,-37.609187,145.020637,4,house,VIC2821,VIC114,3750.0
45701,45701,2020-01-31,612500.0,Rosebud,Melbourne,VIC,-38.381654,144.925493,3,house,VIC2199,VIC125,3939.0
45702,45702,2020-01-31,592500.0,Croydon,Melbourne,VIC,-37.794486,145.290692,3,house,VIC680,VIC139,3136.0
45703,45703,2020-01-31,424050.0,Wollert,Melbourne,VIC,-37.609029,145.018557,3,house,VIC2821,VIC114,3750.0
45704,45704,2020-01-31,500719.0,Wollert,Melbourne,VIC,-37.609029,145.018557,3,house,VIC2821,VIC114,3750.0

In [23]:
# Add LGA names into pre_covid_sales
pre_covid_sales_df = pd.merge(pre_covid_sales, postcode_lga, how="inner", on="Suburb")
pre_covid_sales_df

KeyError: 'Suburb'

In [ ]:
postcode_lga.rename(columns={"Suburb":"suburb"})

In [21]:
# Merge Pre Covid data with LGA data
merged_pre_covid = pd.merge(hospital_count, pre_covid_sales, how="inner", on="Suburb")
merged_pre_covid

KeyError: 'Suburb'

In [ ]:
# Merge hospital counts into pre-covid housing data
merged_hospital_covid = pd.merge(hospital_count, pre_covid_sales_df, how="left", on="suburb")
merged_hospital_covid